<div class="h2-about-area about-us-page">

  <div class="col-lg-12 history-content"><div class="content"><h2 class="title text-center ">Who We Are</h2></div></div>
   <div class="container">
       <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mar-top-55">
               <div class="h2-about-section-title section-title">

                   <h2 class="clr" style="font-size:28px;">Top Services and Jobs Provider Platform</h2>
                   <p class="mar-top-20">There are many variations of passages of Lorem Ipsum available but the majority to have suffered alteration in some form injected.</p>
               </div>
               <div class="service-box-3">
                   <div class="icon">
                       <span class="color-1 flaticon-cubes"></span>
                   </div>
                   <div class="content">
                       <h2 class="title">Affordable and Timely Services Directory</h2>
                       <p class="text">Share your requirment to be picked up by affordable and efficient service provider.</p>
                   </div>
               </div>
               <div class="service-box-3">
                   <div class="icon">
                       <span class="color-2 fas fa-briefcase"></span>
                   </div>
                   <div class="content">
                       <h2 class="title">Job Directory</h2>
                       <p class="text">Find jobs of interest and get paid easily.</p>
                   </div>
               </div>
               <div class="service-box-3">
                   <div class="icon">
                       <span class="color-3 fab fa-servicestack"></span>
                   </div>
                   <div class="content">
                       <h2 class="title">Free Services</h2>
                       <p class="text">There are many variations of passages of Lorem Ipsum available but the majority suffered alteration dunmmy.</p>
                   </div>
               </div>
               <div class="service-box-3">
                   <div class="icon">
                       <span class="color-1 fa fa-utensils"></span>
                   </div>
                   <div class="content">
                       <h2 class="title">Eating Companion</h2>
                       <p class="text">There are many variations of passages of Lorem Ipsum available but the majority suffered alteration dunmmy.</p>
                   </div>
               </div>
           </div>
            <div class="col-lg-6 mar-top-55 abt_img"><img src="assets/frontEnd/img/news/chess-2c-1.jpg" alt=""></div>
       </div>
   </div>
</div>
