<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Set New Password</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <style>
    .login-page {
    background-color: #f2f2f2;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden;
}
.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.login-page .login-box .logo {
    margin-bottom: 20px;
	text-align:center;
}
img {
    vertical-align: middle;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bg-black {
    background-color: #000000 !important;
    color: #fff;
}
btn:not(.btn-link):not(.btn-circle) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
}
.input-group {
    width: 100%;
    margin-bottom: 20px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.input-group .form-control:last-child{border-top-left-radius: 0;
    border-bottom-left-radius: 0;}
	.input-group .form-control:first-child{border-top-left-radius: 0;
    border-bottom-left-radius: 0;}
	.input-group .form-control {
    border: none;
    box-shadow: none;
    padding-left: 0;
}
.input-group .input-group-addon {
    border: none;
    background-color: transparent;
    padding-left: 0;
    font-weight: bold;
}

.group-addon:first-child{    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-addon .material-icons {
    font-size: 18px;
    color: #555;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">
                <img src="logo.png" alt="logo">
            </a>
        </div>

        <div class="card">
            <div class="body">

                @if(key  == '')
                    <h4 >You have already updated your password.</h4> 

                @elseif(key == 0)   
                    <h4 >Your password reset link is expire. Please click again Forgot Password from your app.</h4> 

                @elseif(key != 0 && key != '')
                    <div id="message" style="color: green; font-weight: bold; text-align: center;font-size: 18px; font-family: 'Roboto';display:none;">Password Updated Successfully</div>
                    
                    <form id="change_password" method="POST" action="http://18.179.118.55/api/updateForgotPW">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                            <input type="hidden" name="secret_key" value="{{key}}">
                                <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password" required>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="conf_password" placeholder="Confirm Password" id="conf_password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="btn btn-block bg-black waves-effect" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                
                {{--  <div style="color: red; font-weight: bold; text-align: center;font-size: 18px; font-family: 'Roboto';">The link is expired</div>  --}}
                @endif
                

            </div>
        </div>
    </div>


<script type="text/javascript">
    var frm = $('#change_password');

    frm.submit(function (e) {
    	var password = document.getElementById("new_password").value;
        var confirmPassword = document.getElementById("conf_password").value;
        if (password != confirmPassword) {
            alert("New Password & Conirm Passwords do not match.");
            document.getElementById("conf_password").focus();
            return false;
        }

        e.preventDefault();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log('Submission was successful.');
                console.log(data);
                if(data.code==200)
                {
                	console.log(data.code);
					$("#change_password").hide(1000);
					$("#message").html(data.message);
					$("#message").show(1000);
					
				}
				else
                {
					$("#message").html(data.message);
					$("#message").show(1000);
				}
                 
            },
            error: function (data) {
            	$("#message").html('Oops Something Went Wrong!');
				$("#message").show(1000);
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });
</script>
</body>

</html>
