<div class="h2-testimonial-area">
  <div class="container">
    <div class="row">
      <div class=" col-xs-12 text-center">
        <div class="section-title">

          <h2 class="title">What Our Clients Say</h2>
          <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        </div>
      </div>
    </div>
    <div class="h2-testimonial-carousel owl-carousel">
      <div class="h2-single-testimonial color-1">
        <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        <div class="author">
          <div class="img"> <img src="assets/frontEnd/img/home2/testimonial-author-2.jpg" alt=""> </div>
          <div class="info">
            <h4 class="name">Steve Martin</h4>
            <p class="desg">Envato inc.</p>
            <span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="h2-single-testimonial color-2">
        <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        <div class="author">
          <div class="img"> <img src="assets/frontEnd/img/home2/testimonial-author-2.jpg" alt=""> </div>
          <div class="info">
            <h4 class="name">Steve Martin</h4>
            <p class="desg">Envato inc.</p>
            <span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="h2-single-testimonial color-3">
        <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        <div class="author">
          <div class="img"> <img src="assets/frontEnd/img/home2/testimonial-author-2.jpg" alt=""> </div>
          <div class="info">
            <h4 class="name">Steve Martin</h4>
            <p class="desg">Envato inc.</p>
            <span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star "></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="h2-single-testimonial color-1">
        <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        <div class="author">
          <div class="img"> <img src="assets/frontEnd/img/home2/testimonial-author-2.jpg" alt=""> </div>
          <div class="info">
            <h4 class="name">Steve Martin</h4>
            <p class="desg">Envato inc.</p>
            <span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="h2-single-testimonial color-2">
        <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        <div class="author">
          <div class="img"> <img src="assets/frontEnd//img/home2/testimonial-author-2.jpg" alt=""> </div>
          <div class="info">
            <h4 class="name">Steve Martin</h4>
            <p class="desg">Envato inc.</p>
            <span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
          </div>
        </div>
      </div>
      <div class="h2-single-testimonial color-3">
        <p class="text">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut</p>
        <div class="author">
          <div class="img"> <img src="assets/frontEnd/img/home2/testimonial-author-3.jpg" alt=""> </div>
          <div class="info">
            <h4 class="name">Steve Martin</h4>
            <p class="desg">Envato inc.</p>
            <span class="fa fa-star checkeds"></span>
<span class="fa fa-star checkeds"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

