<div class="news-one-column">
  <div class="container">
      <div class="row">
      <div id="widget-search" class="col-lg-12 mar-bot-50 ">
            <div class="container">
              <div class="text-center row eatin_comp filter-group">
              <div class="col-md-12 text-left" style="padding:0px; margin-bottom:10px;"> <h3 class="">Search Companion</h3></div>
                <div class="col-lg-3 col-md-6 col-sm-4 banner-search-widget form-group">
                  <input id="keywords1" type="text" class="form-textbox form-control search" placeholder="Title or keywords">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 banner-search-widget form-group customs-select">
                  <div class="search-widget">
                    <select class="form-dropdown form-control filter" id="professionID1">
                      <option selected=""> Gender </option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>

                    </select>
                  </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-4 banner-search-widget form-group customs-select">
                  <div class="search-widget">
                    <div id="divAreaDropDown1">
                      <div id="divAreaDropDown1">
                        <select class="form-dropdown form-control" id="areaIDs1">
                          <option selected="">Type Of Food </option>
                          <option >Option 1</option>
                          <option >Option 2</option>
                          <option >Option 3</option>
                          <option >Option 4</option>

                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-sm-4 banner-search-widget form-group eat_dat">
      <input type="text" class="form-control form-textbox datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5" placeholder="Select Date And Time"/>
  </div>
<div class="col-lg-2 col-md-12 col-sm-4 banner-search-widget form-group customs-select">
                              <a href="#" id="reset" class="link picker-link-3 active reset">Reset</a>
                          </div>
              </div>


            </div>
          </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" id="comp_users">

            <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                    
                    
                      <h3 class="title text-center"><a href="profile.html">Adriel</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.2.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.3.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">John</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.4.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Alex</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Daniel</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.2.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Michelle </a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.3.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Simon</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.4.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Joanna Dong</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="profile.html">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <a class="popup-modal more picker-link-3" href="#test-modal">View <span><i class="fas fa-chevron-right"></i></span></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 blockss" data="0">
              <div class="news-one-sb single-blog">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/eating.1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Jessica</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Male </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View </a></div>

                  </div>
              </div>
          </div>
        </div>
        <div id="test-modal" class="white-popup-block mfp-hide">
<h3 class="text-center">Details</h3>
<div class="col-md-12 mar-top-30 text-center">   <div class="img">
                                          <img src="assets/frontEnd/img/home1/team-1.jpg" alt="" style="height: 200px; border-radius: 50%;">
                                      </div> </div>
<div class="col-md-12 text-center mar-top-20"><p class="pop_text">Alex</p></div>
<div class="col-md-12 text-center mar-top-20"><a class="picker-link-3" >View Facebook Profile </a></div>
<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Type Of Food : </span>Meat. Bacon/Ham/Pork. Chicken. Cornish Hens.</p></div>
<!-- <div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Contact No : </span>+6523545658</p></div> -->
<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Gender : </span>Male</p></div>
<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Price : </span>40$</p></div>
<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Date : </span>04/11/2018</p></div>
<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Time : </span>9 Pm</p></div>
  <div class="col-md-12 mar-top-30">
  <h4>Destination</h4>
  <p class="text" style="margin:10px 0px">58 Howard Street San Francisco, CA 94105</p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255281.19036179726!2d103.7041614154493!3d1.3143393876093783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11238a8b9375%3A0x887869cf52abf5c4!2sSingapore!5e0!3m2!1sen!2sin!4v1539340909436"  frameborder="0" style="border:0; width:100%" allowfullscreen></iframe></div>
 <div class="col-md-12 text-center mar-top-30">  <a class="link picker-link-3 hvr-bs" href="#">connect</a> <a class="link picker-link-3 hvr-bs popup-modal-dismiss" href="#">Cancel</a></div>
<!--<p><a class="popup-modal-dismiss" href="#">Dismiss</a></p>-->
</div>
<div class="row">
          <div class="col-12 text-center">
              <div class="h2-portfolio-links">
                  <a href="#"  id="loadMore" class="link picker-link-3 active">Load More</a>
              </div>
          </div>
      </div>


        </div>

      </div>
  </div>
</div>
