<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="assets/userdash/images/avatar-5.jpg" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kelly Smith</div>
            <div class="email">kelly.smith@example.com</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a routerLink="/prof"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>
                   
                    <li><a (click)="logout()"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            
            <li class="active">
                <a routerLink="/dashbrd">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">business_center</i>
                    <span>My Jobs</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a routerLink="/myjob">Job List</a>
                    </li>
                    <li>
                        <a routerLink="/addMyjob">Add New Job</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/donation">
                    <i class="material-icons">spa</i>
                    <span>Shoe Donations</span>
                </a>
            </li>
            <li>
                <a routerLink="/trans" class="">
                    <i class="material-icons">assessment</i>
                    <span>My Transactions</span>
                </a>
                
            </li>
         
            <li>
                <a routerLink="/notif" class="">
                    <i class="material-icons">notifications</i>
                    <span>Notification</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    
</aside>
