


<header class="header-3">
  <div class="h3-header-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
          <div class="h1-logo"> <a href="javascript:void(0)"> <img src="assets/frontEnd/img/home3/logo-1.png" alt=""> </a> </div>
        </div>
        <div class="col-lg-7 col-md-9 col-sm-8 col-xs-8">
          <div class="responsive-menu hidden-md hidden-lg"></div>
          <div class="menu visible-md visible-lg">
            <nav>
              <ul id="menu">
                <li><a  href="home/home">home</a> </li>
                <li><a routerLink="/about">About</a>
                </li>
                <li><a href="javascript:void(0)">Free Services</a>
                  <ul class="drop">
                    <li><a routerLink="/lost-found">Lost and Found</a></li>
                    <li><a routerLink="/eat-comp">Eating Companion</a></li>
                    <!-- <li><a href="donation.html">Donate your old Shoes</a></li> -->
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Paid Services</a> </li>
                <li><a routerLink="/contact">Contact</a></li>
                <li class="hidden-md hidden-lg"><a href="javascript:void(0)">Log In</a> <ul class="drop">
                    <li><a routerLink="/login">Login as Customer</a></li>
                    <li><a href="javascript:void(0)">Login as Vendor</a></li>

                  </ul></li>

              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12  visible-md visible-lg menu ">


            <nav class="lgn"> <ul >
            <li class="h1hba-get-quote">
            <a class="link hvr-bs picker-link" >LogIn</a>
            <ul class="drop">
            <li><a href="/login">Login as Customer</a></li>
             <li> <a href="javascript:void(0)">Login as Vendor</a></li>
            </ul>
            </li>
     </ul>
     </nav>

        </div>
      </div>
    </div>
  </div>
</header>

