<div class="h2-counter-area">
  <div class="container">
    <div class="row">
      <div class="h2-single-counter color-1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h2 class="counter"><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">150</span>+</h2>
        <h2 class="name">HAPPY CUSTOMER</h2>
      </div>
      <div class="h2-single-counter color-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h2 class="counter"><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">600</span>+</h2>
        <h2 class="name">EATING COMPANIONS FOUND</h2>
      </div>
      <div class="h2-single-counter color-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h2 class="counter"><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">60</span>+</h2>
        <h2 class="name">ACTIVE SERVICES</h2>
      </div>
      <div class="h2-single-counter color-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h2 class="counter"><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">800</span>+</h2>
        <h2 class="name">NEW JOBS CREATED</h2>
      </div>
    </div>
  </div>
</div>
