<div class="container project-3grid-ng-area">
  <div class="">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="history-content">
                      <div class="row">

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="content">
                                  <h2 class="title text-center ">Have you lost something ?</h2>
                                  <p class="text text-center">Lorem Ipsum is simply dummy text of the printfing and type industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                                      <br> a type specimen book. It has survived not only five centurie, but also the leap into electronic typesetting, remaining esse ntially unchanged.
                                  </p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3">
                  <div class="history-timer">
                      <div class="row">
                          <div class="col-lg-6 col-sm-6 col-xs-12">
                              <div class="single-counter color-turquoise">
                                  <h2 class="counter clr">  <span class="counter counter-up clr" data-counterup-time="1500" data-counterup-delay="30">150</span>+</h2>
                                  <div class="icon">
                                      <span class="clr2 green_count"><i class="fa fa-tasks" aria-hidden="true"></i></span>
                                  </div>
                                  <p class="name clr">Lost Item</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-xs-12">
                              <div class="single-counter color-green">
                                <h2 class="counter clr1">   <span class="counter counter-up clr1" data-counterup-time="1500" data-counterup-delay="30">125</span>+</h2>
                                  <div class="icon">
                                      <span class="clr2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                  </div>
                                  <p class="name clr1">Found Item</p>
                              </div>
                          </div>


                      </div>
                  </div>
              </div>
          </div>
          </div>
