<div class="h2-team-area contact_area">
  <div class="container">
      <div class="row">
      <div class="col-lg-8 text-center col-lg-offset-2 "> <h1 class="title clr">Get in touch with us</h1>
                  <p class="text mar-top-20 mar-bot-30">There are many variations of passages of Lorem Ipsum available but the majority a have suffered alteration in some form by injected humour or randomised words the which don't look even slightly believable. </p></div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="contact-info mar-top-55">
                 <h2 class="title mar-bot-35 clr">How Can We Help?</h2>
                  <div class="cf-msg"></div>
                  <form action="#" method="post" id="cf">
                      <div class="row">
                          <div class="col-xs-12 cf-input-box">
                              <input type="text" placeholder="Name" id="fname" name="fname" required>
                          </div>
                          <div class="col-xs-12 cf-input-box">
                              <input type="text" placeholder="Email" id="email" name="email" required>
                          </div>
                          <div class="col-xs-12 cf-input-box">
                              <input type="text" placeholder="Subject" id="subject" name="subject">
                          </div>
                          <div class="col-xs-12 cf-input-box">
                              <textarea class="contact-textarea" placeholder="Message" id="msg" name="msg"></textarea>
                          </div>
                          <div class="col-xs-12 cf-input-box">
                              <button id="submit" class="cont-submit" name="submit">SEND MESSAGE</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-lg-6 col-xs-12">
              <div class="mar-top-55 visible-md visible-lg" >
                  <img src="assets/frontEnd/img/news/1.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- contact-area-end -->
<div class="map-area">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="map">
                  <div id="googleMap"></div>
                  <div class="map-info">
                      <div class="mapinfo-box">
                          <span class="icon"><i class="fas fa-map"></i></span>
                          <h5 class="title">Address</h5>
                          <p class="text">Zervex 8 Ubi Road 2 #08-27, Zervex  </p>
                          <p class="text">Singapore 4085380</p>
                      </div>
                      <div class="mapinfo-box">
                          <span class="icon"><i class="fas fa-mobile-alt"></i></span>
                          <h5 class="title">Phone</h5>
                          <p class="text">Mobile: (+88) 090 1900 - 6886</p>
                          <p class="text">Hotline: 1800 6886</p>
                      </div>
                      <div class="mapinfo-box">
                          <span class="icon"><i class="far fa-envelope-open"></i></span>
                          <h5 class="title">Email</h5>
                          <p class="text">example@company.com</p>
                          <p class="text">contact@company.com</p>
                      </div>
                      <ul class="mapinfo-social">
                          <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="google"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                          <li class="linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                          <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
