<!DOCTYPE html>



<html lang="en">



<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>

        <meta charset="utf-8" />

        <title>Admin Dashboard</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta content="width=device-width, initial-scale=1" name="viewport" />

        {{ style("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all") }}
        {{ style("/css/font-awesome.min.css") }}
        {{ style("/css/simple-line-icons.min.css") }}
        {{ style("/css/bootstrap.min.css") }}
        {{ style("/css/components.min.css") }}
        {{ style("/css/plugins.min.css") }}
        {{ style("/css/layout.min.css") }}
        {{ style("/css/darkblue.min.css") }}
        {{ style("/css/custom.min.css") }}
        {{ style("/css/datatables.bootstrap.css") }}
        {{ style("/css/profile.min.css") }}
        {{ style('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css') }}

        <link rel="shortcut icon" href="/favicon.png" /> </head>



    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white">

        <div class="page-wrapper">



            <div class="page-header navbar navbar-fixed-top">
                @include('admin.partials.header')
            </div>



            <div class="clearfix"> </div>



            <div class="page-container">
                @include('admin.partials.sidebar')



                <div class="page-content-wrapper">
                    @!section('content')
                </div>



                <a href="javascript:;" class="page-quick-sidebar-toggler">

                    <i class="icon-login"></i>

                </a>





            </div>



            <div class="page-footer">

                <div class="page-footer-inner text-center"> 2018 &copy; Intersoftkk



                </div>

                <div class="scroll-to-top">

                    <i class="icon-arrow-up"></i>

                </div>

            </div>



        </div>


        {{ script('/js/jquery.min.js') }}
        {{ script('/js/jquery.validate.min.js') }}
        {{ script('/js/bootstrap.min.js') }}
        {{ script('/js/jquery.slimscroll.min.js') }}
        {{ script('/js/datatable.js') }}
        {{ script('/js/datatables.min.js') }}
        {{ script('/js/datatables.bootstrap.js') }}
        {{ script('/js/table-datatables-managed.min.js') }}
        {{ script('/js/morris.min.js') }}
        {{ script('/js/moment.min.js') }}
        {{ script('/js/app.min.js') }}
        {{ script('/js/dashboard.min.js') }}
        {{ script('/js/layout.min.js') }}
        {{ script('/js/js.cookie.min.js') }}
        {{ script('/js/demo.min.js') }}
        {{ script('/js/quick-sidebar.min.js') }}
        {{ script('/js/quick-nav.min.js') }}
        {{ script('/js/profile.min.js') }}
        {{ script('/js/change_password') }}
        {{ script('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js') }}

        <script type="text/javascript">
            $("#sample_1_2").dataTable();
            $(document).ready(function () {
                $(document).on('click','.edt', function(event) {
                    $(this).closest('.tab-pane').find('form input').removeAttr('readonly');
                    $(this).closest('.tab-pane').find('.sav').css('display', 'block');
                });
                $(".sav").on('click', function() {
                    $(this).closest('.tab-pane').find('form input').attr('readonly', 'true');
                    $('.sav').css('display', 'none');
                    $('#admin_profile_edit').submit();
                });

                $('#admin_profile_image_submit').on('click', function () {
                    var file = $('#profile_pic').val();
                    if(file == '') {
                        alert ('Please choose any images for upload.');
                        return false
                    }else {
                        $('#profile_image').submit();
                    }
                });

                $('#location_add_submit').on('click', function() {
                    var name = $('#location_name').val();
                    if(name == '') {
                        alert ('Location name can not be left blank.');
                        return false;
                    }else {
                        $('#add_location_form').submit();
                    }
                })

                $(".location_name_edit").on('click', function() {
                    var locations_id = $(this).attr('location_id');
                    $.ajax({
                        type : "POST",
                        url : "/admin/location/details/"+locations_id,
                        success : function (data) {
                            if(data != ''){
                                $('#location_id').val(data[0]._id);
                                $("#edit_location_name").val(data[0].name);
                                $('#modal-default-edit').modal('show');
                            }
                        }
                    })
                })

                $('#location_edit_submit').on('click', function() {
                    var name = $('#edit_location_name').val();
                    if(name == '') {
                        alert ('Location name can not be left blank.');
                        return false;
                    }else {
                        $('#edit_location_form').submit();
                    }
                })

                if($('#parent_service_id').val() == 0) {
                    $('#ask_for_quote_div').hide();
                    $('#category_price_div').hide();
                    $('#define').val('1');
                }

                $('#parent_service_id').on('change', function () {
                    if($('#parent_service_id').val() == 0) {
                        $('#ask_for_quote_div').hide();
                        $('#category_price_div').hide();
                        $('#define').val('1');
                    }else{
                        $('#ask_for_quote_div').show();
                        $('#category_price_div').show();
                        $('#define').val('2');
                    }
                });

                $('#service_category_add').on('click', function (){
                    var valid = $('#service_category_form').valid();

                    if(valid){
                        $('#service_category_form').submit();
                    }
                });
                
                $('#service_category_form').validate({
                    rules:{
                        sub_categoty_name : {
                            required : true
                        }
                    },
                    messages: {
                        sub_categoty_name : {
                            required : "<font color='red'> Please enter service name.</font>"
                        }
                    }
                });

                $('#toplevel_service_category_add').on('click', function () {
                    var categoty_name = $('#categoty_name').val();
                    var category_desc = $('#category_desc').val();
                    var category_image = $('#category_image').val();

                    if(categoty_name == '' || category_desc == '' || category_image == ''){
                        alert ('Fields can not be left blank.');
                        return false
                    }else {
                        $('#toplevel_service_category_add_form').submit();
                    }
                })

                $('#service_category_edit_submit').on('click', function (){
                    var categoty_edit_name = $('#categoty_edit_name').val();
                    var category_edit_desc = $('#category_edit_desc').val();

                    if(categoty_edit_name == '' || category_edit_desc == ''){
                        alert ('Fields can not be left blank.');
                        return false
                    }else {
                        $('#toplevel_service_category_add_form').submit();
                    }
                })
            })
        </script>

</body>



</html>
