<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <h2>JOB LISTS</h2>
      </div>
      <div class="row clearfix profile_edit">
      <div class="body">
          <ol class="breadcrumb breadcrumb-col-orange">
              <li><a routerLink='/dashbrd'>Dashboard</a></li>
              <li class="active">Job Lists</li>
          </ol>
      </div>
              </div>
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
              <div class="body dashboard_service_list">
                      <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Job ID</th>
                                      <th>Start Date</th>
                                      <th>End Date</th>
                                      <th>Location</th>
                                      <th>Allocated</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>01</td>
                                      <td><a routerLink='/myjobDetail'>JOB899</a></td>
                                       <td>2018/04/10</td>
                                      <td>2018/04/15</td>
                                      <td>Singapore</td>
                                      <td><a routerLink='/myjobDetail'>VEN6879</a></td>
                                      <td><span class="label bg-cyan">Allocated</span></td>
                                      <td>
                                        
                                          
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>02</td>
                                      <td><a routerLink='/myjobDetail'>JOB895</a></td>
                                       <td>2018/04/10</td>
                                      <td>2018/04/15</td>
                                      <td>Singapore</td>
                                      <td>N/A</td>
                                      <td><span class="label bg-orange">Not allocated</span></td>
                                      <td><a routerLink='/editMyjob' class="btn bg-cyan btn-block btn-xs waves-effect">Edit</a></td>
                                  </tr>
                                  <tr>
                                      <td>02</td>
                                      <td><a routerLink='/myjobDetail'>JOB897</a></td>
                                       <td>2018/04/10</td>
                                      <td>2018/04/15</td>
                                      <td>Singapore</td>
                                      <td><a routerLink='/myjobDetail'>VEN6879</a></td>
                                      <td><span class="label bg-green">Completed</span></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td>03</td>
                                      <td><a routerLink='/myjobDetail'>JOB899</a></td>
                                       <td>2018/04/10</td>
                                      <td>2018/04/15</td>
                                      <td>Singapore</td>
                                      <td><a routerLink='/myjobDetail'>VEN6879</a></td>
                                      <td><span class="label bg-cyan">Allocated</span></td>
                                      <td>
                                       
                                          
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>04</td>
                                      <td><a routerLink='/myjobDetail'>JOB895</a></td>
                                       <td>2018/04/10</td>
                                      <td>2018/04/15</td>
                                      <td>Singapore</td>
                                      <td>N/A</td>
                                      <td><span class="label bg-orange">Not allocated</span></td>
                                      <td><a routerLink='/editMyjob' class="btn bg-cyan btn-block btn-xs waves-effect">Edit</a></td>
                                  </tr>
                                  <tr>
                                      <td>05</td>
                                      <td><a routerLink='/myjobDetail'>JOB897</a></td>
                                       <td>2018/04/10</td>
                                      <td>2018/04/15</td>
                                      <td>Singapore</td>
                                      <td><a routerLink='/myjobDetail'>VEN6879</a></td>
                                      <td><span class="label bg-green">Completed</span></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
