<section class="content">
<div class="container-fluid">
  <div class="block-header">
      <h2>SHOE DONATIONS</h2>
  </div>
  <div class="row clearfix profile_edit">
  <div class="body">
      <ol class="breadcrumb breadcrumb-col-orange">
          <li><a routerLink='/dashbrd'>Dashboard</a></li>
          <li class="active">lists</li>
      </ol>
  </div>
          </div>
  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
          <div class="body dashboard_service_list">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Title</th>
                                  <th>Description</th>
                                  <th>Number of Pairs</th>
                                  <th>Status by OMC</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>01</td>
                                  <td><a routerLink='/donationDetail'>2 Nike Shoes</a></td>
                                   <td>Nike shoes in black color</td>
                                  <td>2</td>
                                  <td><span class="label bg-green">Acknowledged</span></td>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td>02</td>
                                  <td><a  routerLink='/donationDetail'>Puma Shoes</a></td>
                                   <td>Puma shoes in red color</td>
                                  <td>4</td>
                                  <td><span class="label bg-red">Not Acknowledged</span></td>
                                  <td><a routerLink="/editDonation" class="btn bg-cyan btn-block btn-xs waves-effect">Edit</a></td>
                              </tr>
                              <tr>
                                  <td>03</td>
                                  <td><a routerLink='/donationDetail'>1 Nike shoe pair</a></td>
                                   <td>Nike shoes in red color</td>
                                  <td>1</td>
                                  <td><span class="label bg-red">Not Acknowledged</span></td>
                                  <td><a routerLink='/editDonation'  class="btn bg-cyan btn-block btn-xs waves-effect">Edit</a></td>
                              </tr>
                              <tr>
                                  <td>04</td>
                                  <td><a routerLink='/donationDetail'>2 Nike shoes</a></td>
                                   <td>Nike shoes in red color</td>
                                  <td>2</td>
                                  <td><span class="label bg-green">Acknowledged</span></td>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td>05</td>
                                  <td><a routerLink='/donationDetail'>2 Nike shoes</a></td>
                                   <td>Nike shoes in red color</td>
                                  <td>2</td>
                                  <td><span class="label bg-green">Acknowledged</span></td>
                                  <td></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>