<div class="h2-team-area" id="comp_users">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="project-menu">
                  <!--<button class="button checked" data-filter="*">all</button>-->
                  <button class="button checked" data-filter=".lost">Lost Item</button>
                  <button class="button" data-filter=".found">Found Item</button>

              </div>
          </div>
      </div>
  </div>
  <div class="container p4gng-all">
      <div class="row no-gutters grid_container" id="container">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid found" data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-2.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Mobile</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>John </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>

                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid lost"  data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Mobile</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Alex </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View <span><i class="fas fa-chevron-right"></i></span></a></div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid lost"  data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-3.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Key</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>David </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View <span><i class="fas fa-chevron-right"></i></span></a></div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid lost"  data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-4.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Key</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>ellina </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View <span><i class="fas fa-chevron-right"></i></span></a></div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid lost"  data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-1.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Mobile</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>charlie </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View <span><i class="fas fa-chevron-right"></i></span></a></div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid lost"  data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-2.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Mobile</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Jorge </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                      <div class="col-md-12 text-center"><a class="popup-modal more picker-link-3" href="#test-modal">View <span><i class="fas fa-chevron-right"></i></span></a></div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid found"  data="0" data-category="post-transition">
              <div class="news-one-sb single-blog ">
                  <div class="img">
                      <img src="assets/frontEnd/img/home1/lost-3.jpg" alt="">
                  </div>
                  <div class="content">

                      <h3 class="title text-center"><a href="#">Key</a></h3>
                      <ul class="meta">
                          <li><span><i class="far fa-clock"></i></span>4 Jun, 2018</li>
                          <li><span><i class="far fa-user"></i></span>Hong BeNG </li>

                      </ul>
                      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>

                  </div>
              </div>
          </div>

      </div>
       <div id="test-modal" class="white-popup-block mfp-hide">
<h3 class="text-center">Details</h3>
<div class="col-md-12 mar-top-30 text-center">   <div class="img">
                                          <img src="assets/frontEnd/img/home1/lost-2.jpg" alt="" style="height: 200px; width:200px; border-radius: 50%;">
                                      </div> </div>
<div class="col-md-12 text-center mar-top-20"><p class="pop_text clr1">Mobile</p></div>

<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Item Details : </span>Lorem ipsum dolor sit amet</p></div>


<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Lost Date : </span>04/11/2018</p></div>
<div class="col-md-12 mar-top-30"><p class="text"><span class="typ_food">Lost Time : </span>9 Pm</p></div>
  <div class="col-md-12 mar-top-30">
  <p class="text"><span class="typ_food">Lost Location :</span>
 8 Ubi Road 2 #08-27
Singapore</p>
   </div>
   <!-- <div class="col-md-12 mar-top-30 alert alert-danger">
   <span>Do you think the item belongs to you? Then please contact <strong>OMC</strong> below with valid prove.</span>
   </div> -->
 <div class="col-md-12 text-center mar-top-30">  <a class="link picker-link-3 hvr-bs" href="#">contact</a> <a class="link picker-link-3 hvr-bs popup-modal-dismiss" href="#">Cancel</a></div>

</div>

      <div class="row">
          <div class="col-xs-12 text-center">
              <div class="h2-portfolio-links">
                  <a href="#" id="loadMore" class="link picker-link-3 active">see all projects</a>
              </div>
          </div>
      </div>
  </div>
</div>
