<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <h2>PROFILE EDIT</h2>
      </div>
      <div class="row clearfix profile_edit">
      <div class="body">
          <ol class="breadcrumb breadcrumb-col-orange">
              <li><a routerLink='/prof'>Profile</a></li>
              <li class="active">Edit</li>
          </ol>
      </div>
              </div>
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card profile_edit">
                  <h3><i class="material-icons">person_outline</i> Personal</h3>
                  <div class="profile_img_upload">
                      <div class="p-image">
                         <i class="fa fa-camera upload-button"></i>
                          <input class="file-upload" type="file" accept="image/*"/>
                       </div>
                      <img src="assets/userdash/images/person-placeholder.jpg" alt="person-placeholder" class="img-circle"/>
                      <a class="close_btn"><i class="material-icons">close</i> </a>
                  </div>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="First Name" value="Kelly" />
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Middle Name" value="" />
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Last Name" value="Smith" />
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line disabled">
                                  <input type="text" class="form-control" placeholder="Email" value="kelly.smith@concierge.com" disabled/>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <input type="radio" name="gender" id="male" class="with-gap" >
                              <label for="male">Male</label>

                              <input type="radio" name="gender" id="female" class="with-gap" checked>
                              <label for="female" class="m-l-20">Female</label>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Phone Number" value="+65 56223662 " />
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line disabled">
                                  <input type="text" class="form-control datepicker" placeholder="Date of Birth" value="20/11/1994" disabled>
                                  <a href="#" class="dateicn"><i class="material-icons">date_range</i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line focused">
                                  <select class="show-tick">
                                      <option value="10">Singapore</option>
                                      <option value="20">USA</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Address" value="15, Changi Sector" />
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Ref Number" value="AHJKH67586" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card profile_edit">
                  <h3><i class="material-icons">credit_card</i>Account Info</h3>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Bank Name" value="HSBC " />
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Bank Account Number" value="4551 54461 5542 " />
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Swift Code" value="HSBC357" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-center button_padding">
                      <button type="button" class="btn bg-cyan waves-effect">Save</button>
                      <button type="button" class="btn bg-red waves-effect">Cancel</button>
              </div>
          </div>
      </div>
  </div>
  </section>