<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <h2>JOB DETAILS</h2>
      </div>
      <div class="row clearfix profile_edit">
      <div class="body">
          <ol class="breadcrumb breadcrumb-col-orange">
              <li><a routerLink='/myjob'>Job Lists</a></li>
              <li class="active">Details</li>
          </ol>
          <a routerLink='/editMyjob' class="edit_sec">
                      <i class="material-icons">mode_edit</i> 
                  </a>
      </div>
              </div>
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card profile_edit">
                  <!-- <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Phone Number" value="+65 56223125">
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Service require at" value="Bayshore Singapore" />
                              </div>
                             
                          </div>
                      </div>
                      <div class="col-lg-2">
                          <a href="#" style="vertical-align: text-bottom; line-height: 54px;">Change Address</a>
                      </div>
                  </div> -->
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Job Title :</strong>
                              <span>Cleaning</span>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <strong>Job Location :</strong>
                              <span>Singapore Bayshore Avenue II</span>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Industry :</strong>
                              <span>Laundry</span>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Category :</strong>
                              <span>Washing Cloths</span>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Job Date :</strong>
                              <span>20/05/2018</span>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Job Time :</strong>
                              <span>11.00 a.m</span>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Job Status :</strong>
                              <span>Allocated</span>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <strong>Payment Status :</strong>
                              <span>Paid</span>
                              <a href="javascript void(0)" target="_blank" style="font-size: 12px; font-weight: 600;">( View / Download )</a>
                              
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="form-group">
                              <strong>Description :</strong>
                              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae aliquam quam.</span>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>