<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <h2>JOB EDIT</h2>
      </div>
      <div class="row clearfix profile_edit">
      <div class="body">
          <ol class="breadcrumb breadcrumb-col-orange">
              <li><a routerLink='/myjob'>Job Lists</a></li>
              <li class="active">Edit</li>
          </ol>
      </div>
              </div>
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card profile_edit">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Job Title" value="Cleaner" />
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Service require at" value="Bayshore Singapore" />
                              </div>
                             
                          </div>
                      </div>
                      <div class="col-lg-2">
                          <a href="#" style="vertical-align: text-bottom; line-height: 54px;">Change Address</a>
                      </div>
                  </div>
                  <div class="row">
                      
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line focused">
                                  <select class="show-tick">
                                  <option value="20">Laundry</option>
                                  <option value="10">Job Industry</option>
                                  <option value="20">IT</option>
                                  <option value="20">Automobiles</option>
                              </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line focused">
                                  <select class="show-tick">
                                      <option value="20">Washing</option>
                                      <option value="10">Job Category</option>
                                      <option value="20">Repairing</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control datepicker" placeholder="Date" value="20/07/2018">
                                  <a href="#" class="dateicn"><i class="material-icons">date_range</i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      
                      <div class="col-lg-4">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="text" class="form-control" placeholder="Time" value="11.00a.m">
                              </div>
                          </div>
                      </div>
                    
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="form-group">
                              <div class="form-line focused">
                                  <textarea rows="4" class="form-control no-resize" placeholder="Job description...." value="">Need good service.</textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="text-center button_padding">
                      <button type="button" class="btn bg-cyan waves-effect">Save</button>
                      <button type="button" class="btn bg-red waves-effect">Cancel</button>
              </div>
          </div>
      </div>
  </div>
</section>