<div class="card">
  <div class="body">
      <form id="sign_in" method="POST">
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="material-icons">lock</i>
              </span>
              <div class="form-line">
                  <input type="password" class="form-control" name="password" placeholder="New Password" required>
              </div>
          </div>
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="material-icons">lock</i>
              </span>
              <div class="form-line">
                  <input type="password" class="form-control" name="password" placeholder="Confirm Password" required>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                  <button class="btn btn-block bg-black waves-effect" type="submit">SUBMIT</button>
              </div>
          </div>
      </form>
  </div>
</div>
