<div class="">
  <div class="h3-slider-box">
    <div class="img bg-with-black">
      <video autoplay muted="muted" loop style="width:100%;">
        <source src="https://kabakovs.garagemca.org/static/video/main.mp4" type="video/mp4">
      </video>
      <!-- <img src="img/home3/hero-1.jpg" alt="">-->
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
          <h2 class="title animated" style="margin-bottom:60px;">Service At Your Fingertips </h2>
            <div id="widget-search">
              <div class="container">
                <div class="text-center row visible-md visible-lg">
                  <div class="col-md-3 col-sm-4 banner-search-widget form-group">
                    <input id="keywords1" type="text" class="form-textbox form-control" placeholder="title or keywords">
                  </div>
                  <div class="col-md-3 col-sm-4 banner-search-widget form-group customs-select">
                    <div class="search-widget">
                      <select class=" form-control" id="professionID1">
                        <option selected="">Select </option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>

                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4 banner-search-widget form-group customs-select">
                    <div class="search-widget">
                      <div id="divAreaDropDown1">
                        <div id="divAreaDropDown1">
                          <select class="form-dropdown form-control" id="areaIDs1">
                            <option selected="">Select </option>
                            <option >Option 1</option>

                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-4 mx-auto banner-search-widget form-group">
                  <a aria-label="Search Job" href="" class="btn btn-primary btn-lg btn-block" id="btn-widget-search"> search</a>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


