
<div class="login-page">
<div class="login-box">
  <div class="logo">
      <a href="javascript:void(0);">
          <img src="assets/userdash/images/logo.png" alt="logo">
      </a>
  </div>


<div class="card">
  <div class="body">
      <form id="sign_in"  ngNativeValidate>
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="material-icons">lock</i>
              </span>
              <div class="form-line">
                  <input type="password" class="form-control" name="password" [(ngModel)]="newpswrd.pswrd" placeholder="New Password" required autofocus>
              </div>
          </div>
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="material-icons">lock</i>
              </span>
              <div class="form-line">
                  <input type="password" class="form-control" name="password" [(ngModel)]="newpswrd.cnfpswrd" placeholder="Confirm Password" required autofocus>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                  <button class="btn btn-block bg-black waves-effect" type="submit">SUBMIT</button>
              </div>
          </div>
      </form>
  </div>
</div>
</div>
</div>