<div class="h2-service-area">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 text-center">
              <div class="text-center section-title">

                  <h2 class="title">OUR FREE SERVICES</h2>
                  <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="service-box-4 hv-1">
                  <div class="icon">
                      <span class="color-1 flaticon-research"></span>
                  </div>
                  <div class="content">
                      <h2 class="title">Lost and Found</h2>
                      <p class="text">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="service-box-4 hv-2">
                  <div class="icon">
                      <span class="color-2 fa fa-utensils"></span>
                  </div>
                  <div class="content">
                      <h2 class="title">Eating Companion</h2>
                      <p class="text">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                  </div>
              </div>
          </div>




      </div>
  </div>
</div>

