<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <h2>DASHBOARD</h2>
      </div>

      <!-- Widgets -->
      <div class="row clearfix tabs">
         
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <a href="javascript:void(0);">
              <div class="info-box bg-light-green hover-expand-effect tab-link current" data-tab="tab-3">
                  <div class="icon">
                      <i class="material-icons">card_giftcard</i>
                  </div>
                  <div class="content">
                      <div class="text">MY JOBS</div>
                      <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                  </div>
              </div>
              </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <a href="javascript:void(0);">
              <div class="info-box bg-purple hover-expand-effect tab-link" data-tab="tab-4">
                  <div class="icon">
                      <i class="material-icons">
attach_money
</i>
                  </div>
                  <div class="content">
                      <div class="text">TRANSACTIONS</div>
                      <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                  </div>
              </div>
              </a>
          </div>
      </div>
   
      <div class="row clearfix dashboard-tab-content current" id="tab-3">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                  <div class="header">
                      <h2>
                         My Jobs
                      </h2>
                  </div>
                  <div class="body">
                      <div class="table-responsive jobs_section">
                          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>ID</th>
                                      <th>Job Type</th>
                                      <th>Status</th>
                                      <th>Vendor Name</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>01</td>
                                      <td><a href="javascript:void(0);">578890</a></td>
                                      <td>Repairing</td>
                                      <td><span class="label bg-orange">Allocated</span></td>
                                      <td>John Doe</td>
                                      <td ><a href="javascript:void(0);" class="col-orange"><i class="fa fa-eye col-orange" aria-hidden="true"></i> View profile</a></td>
                                  </tr>
                                  <tr>
                                      <td>02</td>
                                      <td><a href="javascript:void(0);">578890</a></td>
                                      <td>Cleaning</td>
                                      <td><span class="label bg-green">Completed</span></td>
                                      <td>John Doe</td>
                                      <td>
                                          <div class="stars_icns">
                                              <i class="fa fa-star col-yellow" aria-hidden="true"></i>
                                          <i class="fa fa-star col-yellow" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          </div>
                                          <a href="#" class="btn bg-deep-orange waves-effect">View Review</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>03</td>
                                      <td><a href="javascript:void(0);">578890</a></td>
                                      <td>Washing</td>
                                      <td><span class="label bg-red">Not allocated</span></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td>02</td>
                                      <td><a href="javascript:void(0);">578890</a></td>
                                      <td>Repairing</td>
                                      <td><span class="label bg-green">Completed</span></td>
                                      <td>Martin Doe</td>
                                      <td>
                                          <a href="#" class="btn bg-light-blue waves-effect">Rate Now</a>
                                          <a href="#" class="btn bg-orange waves-effect">Review Now</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>02</td>
                                      <td><a href="javascript:void(0);">578890</a></td>
                                      <td>Repairing</td>
                                      <td><span class="label bg-green">Completed</span></td>
                                      <td>Martin Doe</td>
                                      <td>
                                           <div class="stars_icns">
                                              <i class="fa fa-star col-yellow" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          <i class="fa fa-star-o" aria-hidden="true"></i>
                                          </div>
                                          <a href="#" class="btn bg-orange waves-effect">Review Now</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>03</td>
                                      <td><a href="javascript:void(0);">578890</a></td>
                                      <td>Repairing</td>
                                      <td><span class="label bg-red">Not allocated</span></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row clearfix dashboard-tab-content" id="tab-4">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                  <div class="header">
                      <h2>
                          RECENT TRANSACTIONS
                      </h2>
                  </div>
                  <div class="body dashboard_service_list">
                      <div class="table-responsive">
                          <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>ID</th>
                                      <th>Job start date</th>
                                      <th>Job End date</th>
                                      <th>Transaction date</th>
                                      <th>Transaction Status</th>
                                      <th>Mode</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>01</td>
                                      <td><a href="javascript:void(0);">B899</a></td>
                                      <td>2018/04/15</td>
                                      <td>2018/04/18</td>
                                      <td>2018/04/19</td>
                                      <td>Paid</td>
                                      <td><span class="label bg-green">Online</span></td>
                                  </tr>
                                  <tr>
                                      <td>02</td>
                                      <td><a href="javascript:void(0);">B895</a></td>
                                      <td>2018/04/15</td>
                                      <td>2018/04/18</td>
                                      <td>2018/04/19</td>
                                      <td>Paid</td>
                                      <td><span class="label bg-deep-purple">Offline</span></td>
                                  </tr>
                                  <tr>
                                      <td>03</td>
                                      <td><a href="javascript:void(0);">B899</a></td>
                                      <td>2018/04/15</td>
                                      <td>2018/04/18</td>
                                      <td>2018/04/19</td>
                                     <td>Paid</td>
                                     <td><span class="label bg-green">Online</span></td>
                                  </tr>
                                  <tr>
                                      <td>03</td>
                                      <td><a href="javascript:void(0);">B894</a></td>
                                      <td>2018/04/15</td>
                                      <td>2018/04/18</td>
                                      <td>2018/04/19</td>
                                      <td>Paid</td>
                                      <td><span class="label bg-deep-purple">Offline</span></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>
